*{
     
  margin: 0; 
  padding: 0; 

  


}
html{

margin: 0;
padding: 0;
background-color: white;
}



.hello{
 
  position: absolute;
 background: url(./odin.png);
border: none;


}
.hello:focus{
  border: none;
  outline: none;
}



.good{
 
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;   
color: black;
outline: none;
margin-left: 34vw;

font-size: 25px;
border: none;
text-decoration: underline;
margin-top: 100px;
position: absolute;

opacity: 100%;



}

.good:hover{
  transform: scale(1.5);
 
}
.gooda{

color: black;
outline: none;
margin-left: 37vw;
font-size: 75px;
border: none;
position: absolute;
padding: none;
margin-top: none;

opacity: 100%;



}

.icon{
  height: 100vh;
  width: 100vw;
font-weight: bolder;;

  opacity: 100%;
}


.twice{
  margin-left: 20vw;
  position: absolute;
}

.button2{
background-color: Transparent;
  background-repeat:no-repeat;
  border: none;   
color: black;
outline: none;
margin-left: 44vw;

font-size: 25px;
border: none;
text-decoration: underline;
margin-top: 100px;
position: absolute;

opacity: 100%;
}

.button2:hover{
  transform: scale(1.5);
}





.about{
 background: linear-gradient(black, white);
  position: absolute;
  height: 30vh;
  width: 30vw;
  margin-top: 30vh;
  margin-left: 30vw;
}

.button3{
background-color: Transparent;
  background-repeat:no-repeat;
  border: none;   
color: black;
outline: none;
margin-left: 54vw;

font-size: 25px;
border: none;
text-decoration: underline;
margin-top: 100px;
position: absolute;

opacity: 100%;}


.button3:hover{
  transform: scale(1.5);
}


.dummy{
 
  position: absolute;
  margin-left: 33vw;
  margin-top: 23vh;
  width: 480px;
  height: 500px;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);;
}

.textdummy{
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 20px;
  font-size:25px;
  position: absolute;

}

.textdummy:hover{
transform: scale(1.2);
}

.textdummy2{
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 10vh;
  font-size:25px;
  position: absolute;


}

.textdummy2:hover{
  transform:scale(1.2);
}

.textdummy3{
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 17vh;
  font-size:25px;
  position: absolute;


}


.textdummy3:hover{
transform: scale(1.2);
}

.textdummy4{
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 24vh;
  font-size:25px;
  position: absolute;
}

.textdummy4:hover{
  transform: scale(1.2);
}



.text2{
  color: white;
  line-height: 50px;
  line-break: 20px;
}


.backups{
  position: absolute;
  background: linear-gradient(red,red);
  width: 100vw;
  height: 100vh;
}
