*{
     
  margin: 0; 
  padding: 0; 
  box-sizing:border-box;
  


}
html{
background-color: black;
}



.hello{
display: flex;
background-color: black;
color:white;





}

.good{
color: black;
outline: none;
margin-left: 600px;
width: 75px;
border-radius: 50px;
border: none;


}

.good:hover{
 color: blue;
}
