*{
     
  margin: 0; 
  padding: 0; 
  box-sizing:border-box;
  


}
html{
background-color: black;
}



.hello{
display: flex;
background-color: black;





}

.good{
color: aliceblue;
outline: none;

}